# vi:syntax=yaml
AWSTemplateFormatVersion: 2010-09-09
Metadata:
  'AWS::CloudFormation::Designer':
    690c4562-fbdd-4a4b-8162-d1bd2654e512:
      size:
        width: 540
        height: 310
      position:
        x: 710
        'y': 270
      z: 0
      embeds:
        - 7835dc98-0cb4-4023-869c-ca4c8f29bbaf
        - 154bfcfb-0f8e-4a5c-bf3f-de14b9b97d1a
    154bfcfb-0f8e-4a5c-bf3f-de14b9b97d1a:
      size:
        width: 330
        height: 220
      position:
        x: 750
        'y': 330
      z: 1
      parent: 690c4562-fbdd-4a4b-8162-d1bd2654e512
      embeds:
        - ff7bc149-2a30-41d9-be19-4e3e41c1fa4f
        - 7a7f4294-f720-41c2-9b3e-7ee7d2f6fe78
      iscontainedinside:
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
    a6345fda-2368-4d32-9ca6-ad7d0ef0c9e1:
      size:
        width: 60
        height: 60
      position:
        x: 500
        'y': 390
      z: 0
      embeds: []
    0b1b0e34-0a73-4437-a610-83469462ac1d:
      source:
        id: 690c4562-fbdd-4a4b-8162-d1bd2654e512
      target:
        id: a6345fda-2368-4d32-9ca6-ad7d0ef0c9e1
      z: 0
    ff7bc149-2a30-41d9-be19-4e3e41c1fa4f:
      size:
        width: 180
        height: 140
      position:
        x: 780
        'y': 390
      z: 2
      parent: 154bfcfb-0f8e-4a5c-bf3f-de14b9b97d1a
      embeds:
        - 26de9ad6-bd31-4471-8fe7-a6e53ff12d2c
      iscontainedinside:
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
    24b23f83-6b26-47be-9b68-4a0f7202d1c0:
      source:
        id: ff7bc149-2a30-41d9-be19-4e3e41c1fa4f
      target:
        id: 154bfcfb-0f8e-4a5c-bf3f-de14b9b97d1a
      z: 2
    5e4704b6-e700-463e-8270-c23a3b7dcaf4:
      source:
        id: ff7bc149-2a30-41d9-be19-4e3e41c1fa4f
      target:
        id: 690c4562-fbdd-4a4b-8162-d1bd2654e512
      z: 5
    40c8dc11-d454-4169-bc08-6b59ed42d6ca:
      source:
        id: ff7bc149-2a30-41d9-be19-4e3e41c1fa4f
        selector: 'g:nth-child(1) g:nth-child(5) g:nth-child(3) circle:nth-child(1)     '
        port: 'AWS::ContainedInsideLink-AWS::EC2::VPC-VpcId'
      target:
        id: 690c4562-fbdd-4a4b-8162-d1bd2654e512
      z: 5
    562d1e33-666e-43c5-a480-06c0c8e9aca7:
      source:
        id: ff7bc149-2a30-41d9-be19-4e3e41c1fa4f
        selector: 'g:nth-child(1) g:nth-child(5) g:nth-child(3) circle:nth-child(1)     '
        port: 'AWS::ContainedInsideLink-AWS::EC2::VPC-VpcId'
      target:
        id: 690c4562-fbdd-4a4b-8162-d1bd2654e512
      z: 5
    26de9ad6-bd31-4471-8fe7-a6e53ff12d2c:
      size:
        width: 60
        height: 60
      position:
        x: 810
        'y': 450
      z: 3
      parent: ff7bc149-2a30-41d9-be19-4e3e41c1fa4f
      embeds: []
      isassociatedwith:
        - a6345fda-2368-4d32-9ca6-ad7d0ef0c9e1
      iscontainedinside:
        - ff7bc149-2a30-41d9-be19-4e3e41c1fa4f
        - ff7bc149-2a30-41d9-be19-4e3e41c1fa4f
        - ff7bc149-2a30-41d9-be19-4e3e41c1fa4f
        - ff7bc149-2a30-41d9-be19-4e3e41c1fa4f
        - ff7bc149-2a30-41d9-be19-4e3e41c1fa4f
        - ff7bc149-2a30-41d9-be19-4e3e41c1fa4f
        - ff7bc149-2a30-41d9-be19-4e3e41c1fa4f
        - ff7bc149-2a30-41d9-be19-4e3e41c1fa4f
        - ff7bc149-2a30-41d9-be19-4e3e41c1fa4f
        - ff7bc149-2a30-41d9-be19-4e3e41c1fa4f
        - ff7bc149-2a30-41d9-be19-4e3e41c1fa4f
        - ff7bc149-2a30-41d9-be19-4e3e41c1fa4f
        - ff7bc149-2a30-41d9-be19-4e3e41c1fa4f
      dependson:
        - 0b1b0e34-0a73-4437-a610-83469462ac1d
    8a8604b5-76dc-4a31-9a2f-2e3b267de2c8:
      source:
        id: 26de9ad6-bd31-4471-8fe7-a6e53ff12d2c
      target:
        id: 0b1b0e34-0a73-4437-a610-83469462ac1d
      z: 4
    f44400ca-3ac7-4194-b3be-5053bea4ced8:
      source:
        id: 26de9ad6-bd31-4471-8fe7-a6e53ff12d2c
      target:
        id: a6345fda-2368-4d32-9ca6-ad7d0ef0c9e1
      z: 5
    7835dc98-0cb4-4023-869c-ca4c8f29bbaf:
      size:
        width: 60
        height: 60
      position:
        x: 1140
        'y': 310
      z: 1
      parent: 690c4562-fbdd-4a4b-8162-d1bd2654e512
      embeds: []
      iscontainedinside:
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
        - 690c4562-fbdd-4a4b-8162-d1bd2654e512
    5428c68c-4898-4d0a-b126-4b1e1eaad385:
      source:
        id: 7835dc98-0cb4-4023-869c-ca4c8f29bbaf
        selector: 'g:nth-child(1) g:nth-child(4) g:nth-child(5) circle:nth-child(1)     '
        port: 'AWS::ContainedInsideLink-AWS::EC2::VPC-VpcId'
      target:
        id: 690c4562-fbdd-4a4b-8162-d1bd2654e512
      z: 5
    7a7f4294-f720-41c2-9b3e-7ee7d2f6fe78:
      size:
        width: 60
        height: 60
      position:
        x: 990
        'y': 370
      z: 2
      parent: 154bfcfb-0f8e-4a5c-bf3f-de14b9b97d1a
      embeds: []
      iscontainedinside:
        - 154bfcfb-0f8e-4a5c-bf3f-de14b9b97d1a
        - 154bfcfb-0f8e-4a5c-bf3f-de14b9b97d1a
        - 154bfcfb-0f8e-4a5c-bf3f-de14b9b97d1a
        - 154bfcfb-0f8e-4a5c-bf3f-de14b9b97d1a
        - 154bfcfb-0f8e-4a5c-bf3f-de14b9b97d1a
        - 154bfcfb-0f8e-4a5c-bf3f-de14b9b97d1a
        - 154bfcfb-0f8e-4a5c-bf3f-de14b9b97d1a
        - 154bfcfb-0f8e-4a5c-bf3f-de14b9b97d1a
      dependson:
        - 26de9ad6-bd31-4471-8fe7-a6e53ff12d2c
    469fb5b5-10ba-4580-ad86-f11b606a2b88:
      source:
        id: 7a7f4294-f720-41c2-9b3e-7ee7d2f6fe78
      target:
        id: 26de9ad6-bd31-4471-8fe7-a6e53ff12d2c
      z: 4
Resources:
  EC2VPCG14V7N:
    Type: 'AWS::EC2::VPCGatewayAttachment'
    Properties:
      VpcId: !Ref vpc01
      InternetGatewayId: !Ref igw01
    Metadata:
      'AWS::CloudFormation::Designer':
        id: 0b1b0e34-0a73-4437-a610-83469462ac1d
  EC2SRTA1X1KS:
    Type: 'AWS::EC2::SubnetRouteTableAssociation'
    Properties:
      RouteTableId: !Ref routeTable01
      SubnetId: !Ref publicSubnet01
    Metadata:
      'AWS::CloudFormation::Designer':
        id: 24b23f83-6b26-47be-9b68-4a0f7202d1c0
  igw01:
    Type: 'AWS::EC2::InternetGateway'
    Properties: {}
    Metadata:
      'AWS::CloudFormation::Designer':
        id: a6345fda-2368-4d32-9ca6-ad7d0ef0c9e1
  vpc01:
    Type: 'AWS::EC2::VPC'
    Properties:
      CidrBlock: 10.0.0.0/16
      EnableDnsSupport: true
      EnableDnsHostnames: true
    Metadata:
      'AWS::CloudFormation::Designer':
        id: 690c4562-fbdd-4a4b-8162-d1bd2654e512
  publicSubnet01:
    Type: 'AWS::EC2::Subnet'
    Properties:
      VpcId: !Ref vpc01
      CidrBlock: 10.0.0.0/24
      AvailabilityZone: us-east-1a
    Metadata:
      'AWS::CloudFormation::Designer':
        id: 154bfcfb-0f8e-4a5c-bf3f-de14b9b97d1a
  routeTable01:
    Type: 'AWS::EC2::RouteTable'
    Properties:
      VpcId: !Ref vpc01
    Metadata:
      'AWS::CloudFormation::Designer':
        id: ff7bc149-2a30-41d9-be19-4e3e41c1fa4f
  publicRoute01:
    Type: 'AWS::EC2::Route'
    Properties:
      RouteTableId: !Ref routeTable01
      DestinationCidrBlock: 0.0.0.0/0
      GatewayId: !Ref igw01
    Metadata:
      'AWS::CloudFormation::Designer':
        id: 26de9ad6-bd31-4471-8fe7-a6e53ff12d2c
    DependsOn:
      - EC2VPCG14V7N
  vpcSg01:
    Type: 'AWS::EC2::SecurityGroup'
    Properties:
      VpcId: !Ref vpc01
      GroupDescription: Allow access from HTTP and SSH traffic
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 0.0.0.0/0
        - IpProtocol: tcp
          FromPort: 22
          ToPort: 22
          CidrIp: 0.0.0.0/0
    Metadata:
      'AWS::CloudFormation::Designer':
        id: 7835dc98-0cb4-4023-869c-ca4c8f29bbaf
  ec2WordPress01:
    Type: 'AWS::EC2::Instance'
    Properties:
      ImageId: ami-00786088de9f85354
      InstanceType: t2.micro
      KeyName: knackmarc
      NetworkInterfaces:
        - GroupSet:
            - !Ref vpcSg01
          AssociatePublicIpAddress: true
          DeviceIndex: 0
          DeleteOnTermination: true
          SubnetId: !Ref publicSubnet01
    Metadata:
      'AWS::CloudFormation::Designer':
        id: 7a7f4294-f720-41c2-9b3e-7ee7d2f6fe78
    DependsOn:
      - publicRoute01
